

.alghoritm1{
    background-color: rgb(rgb(21, 41, 152), green, blue);
    border-style: dotted;
    border-width: 1.5em;
    margin: 1em;
    padding:1.25em;
}

.alghoritm1 h1{

    text-align: center;
    text-size-adjust: 1.25;
    

}